.game__container--body-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  left: 50%;
  width: 400px;
  height: auto;
  min-height: 500px;
  /* min-height: 100%; */
  margin-left: calc(-400px / 2);
  margin-top: calc(- (100%) / 2);
  background-color: #fff;
  border-radius: 10px;
  z-index: 4;

  box-shadow: 10px 10px 66px 19px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 66px 19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 66px 19px rgba(0, 0, 0, 0.75);
}

.game__container--body--modal-header a {
  text-decoration: none;
  border: 0;
}

.game__container--body--modal-header {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(3, 97, 58);
  color: #fff;
  padding-bottom: 10px;
}

.game__container--body--modal--header-logo img {
  position: absolute;
  height: 200px;
}

.game__container--body--modal--header-close {
  position: absolute;
  top: -10px;
  right: -10px;
}
.game__container--body--modal--header-close img {
  height: 40px;
  cursor: pointer;
}

.game__container--body--modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ---------------- MODALS HEADER IMAGES ------------------ */

#body-modal-logo-settings {
  top: -140px;
  left: 50px;
}

#body-modal-logo-welcome {
  height: 160px;
  top: -110px;
  left: -20px;
}

#body-modal-logo-win {
  height: 260px;
  top: -168px;
  left: -20px;
}

#body-modal-logo-credits {
  height: 200px;
  top: -150px;
  left: -5px;
}

#body-modal-logo-gameover {
  height: 260px;
  top: -168px;
  left: -20px;
}

.game__container--body--modal--body-credits,
.game__container--body--modal--body-gameover,
.game__container--body--modal--body-win,
.game__container--body--modal--body-settings,
.game__container--body--modal--body-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

/* ---------------- SETTINGS MODAL ------------------ */

.game__container--body--modal--body--settings-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  border-bottom: 1px solid #000;
  height: 80px;
}

.game__container--body--modal--body--settings--row-left {
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

.game__container--body--modal--body--settings--row-left span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}

/* ---------------- GAME WIN MODAL ------------------ */

.game__container--body--modal--body-win {
  justify-content: space-around;
  align-items: center;
  min-height: 360px;
}

.game__container--body--modal--body--win-title {
  color: rgb(235, 86, 32);
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  margin: 20px 0;
}

.game__container--body--modal--body--win-points {
  /* align-items: center; */
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 50px;
  font-weight: bold;
}

.game__container--body--modal--body--win-subtext {
  /* align-items: center; */
  font-size: 20px;
  text-align: center;
}

.game__container--body--modal--body--win-leafs img {
  height: 30px;
}

.game__container--body--modal--body--win-challenge {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

/* ---------------- GAME WELCOME MODAL ------------------ */

.game__container--body--modal--body--welcome-sec1 {
  margin-bottom: 20px;
}

.game__container--body--modal--body--welcome-sec1,
.game__container--body--modal--body--welcome-sec2 {
  display: flex;
  flex-direction: column;
}

.game__container--body--modal--body--welcome-sec1 span,
.game__container--body--modal--body--welcome-sec2 span {
  margin-bottom: 15px;
  color: rgb(237, 126, 0);
  font-weight: bold;
  font-size: 18px;
}

.game__container--body--modal--body--welcome-sec1 > p {
  text-align: justify;
  margin: 0;
  padding: 0;
}

.game__container--body--modal--body--welcome--sec2-row {
  display: flex;
  gap: 10px;
}

.game__container--body--modal--body--welcome-sec1 p:nth-of-type(2) {
  margin-top: 10px;
}

.game__container--body--modal--body--welcome--sec2-row:nth-of-type(1) img {
  height: 120px;
}

.game__container--body--modal--body--welcome--sec2-row:nth-of-type(2) img {
  height: 100px;
  margin-top: -20px;
}

.game__container--body--modal--body--welcome--sec2-row:nth-of-type(3) img {
  width: 100px;
}

/* ---------------- GAME OVER MODAL ------------------ */

.game__container--body--modal--body-gameover {
  justify-content: space-around;
  align-items: center;
  min-height: 320px;
}
.game__container--body--modal--body--gameover-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.game__container--body--modal--body--gameover-leafs {
  border-top: 1px solid #000;
  /* border-bottom: 1px solid #000; */

  /* border-bottom: 1px solid #000; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.game__container--body--modal--body--gameover--leafs-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;

  align-items: center;
  /* margin: 0 20px; */
  /* border-bottom: 1px solid #000; */
  height: 50px;
}

.game__container--body--modal--body--gameover--leafs-row img {
  height: 30px;
}

.game__container--body--modal--body--gameover--leafs-row:nth-child(2) img {
  height: 40px;
  margin: 0 10px;
}

.game__container--body--modal--body--gameover--leafs--row-title {
  flex: 1;
  font-weight: bold;
}

.game__container--body--modal--body--gameover--leafs--row-amount {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.game__container--body--modal--body--gameover-points {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

/* ---------------- CREDITS MODAL ------------------ */

.game__container--body--modal--body-credits {
  /* background-color: rebeccapurple; */
  margin: 20px auto;
  width: 100%;
  font-size: 16px;
}
.game__container--body--modal--body--credits-version {
  align-self: center;
  text-align: center;
  height: 80px;
  font-weight: bold;
  font-size: 20px;
}
.game__container--body--modal--body--credits-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.game__container--body--modal--body--credits--info-tech {
  font-weight: bold;
  /* align-self: center; */
  justify-self: center;
  text-align: center;
}
.game__container--body--modal--body--credits--info-tech li {
  text-decoration: none;
  font-weight: normal;
  list-style: none;
}
.game__container--body--modal--body--credits--info-credits p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.game__container--body--modal--body--credits--info-credits span {
  font-weight: normal;
}
.game__container--body--modal--body--credits-github img {
  height: 60px;
}
.game__container--body--modal--body--credits-github {
  margin: 30px 0;
  text-align: center;
}
.game__container--body--modal--body--credits-author {
  margin-bottom: 20px;
}
.game__container--body--modal--body--credits-ironhack p,
.game__container--body--modal--body--credits-author p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
}
.game__container--body--modal--body--credits-ironhack span,
.game__container--body--modal--body--credits-author span {
  font-weight: normal;
}

/* ---------------- MODALS FOOTER ------------------ */

.game__container--body--modal--body--gameover-footer,
.game__container--body--modal--body--settings-footer,
.game__container--body--modal--body--win-footer,
.game__container--body--modal--body--welcome-footer {
  background-color: rgb(3, 97, 58);
  height: 45px;
  width: 100px;
  margin-top: -65px;
  align-self: flex-end;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
}

.game__container--body--modal--body--win-footer {
  margin-top: -20px;
}

.game__container--body--modal--body--gameover-footer {
  margin-top: -20px;
}

.game__container--body--modal--body--settings-footer {
  margin-top: 0;
}
