.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  align-content: center;
  /* height: 100vh; */
}
.game__container--header {
  display: flex;
  width: 950px;
  margin: 0 auto;
  justify-content: center;
}
.game__container--header > div {
  flex: 1;
}
.game__container--header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: flex-start; */
}
.game__container--header--left-leafs {
  display: flex;
}
.game__container--header--left-leafs img {
  height: 30px;
}
.game__container--header-logo {
  text-align: center;
}
.game__container--header-logo img {
  height: 200px;
}
.game__container--header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.game__container--header--right-score {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    
}
.game__container--header--right-lives img {
  height: 30px;
}
.game__container--header-right-lives {
  /* display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end; */
}
#game-canvas {
  border: 1px solid #000;
  height: auto;
  box-sizing: border-box;
}

.greyscaled {
  filter: grayscale(100%);
}

.building {
  display: none;
  position: absolute;
  top: 140px;
}

.building img {
  height: 120px;
}
