body {
  background: url('../images/bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
}
.game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  align-content: center;
  /* height: 100vh; */
}
.game__container--header {
  position: relative;
  height: 100px;
  display: flex;
  width: 950px;
  margin: 0 auto;
  justify-content: center;
  background-color: #fff;
  /* opacity: 0.8; */
  margin-top: 130px;
}
.game__container--header > div {
  flex: 1;
}
.game__container--header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: flex-start; */
}
.game__container--header--left-leafs {
  display: flex;
}
.game__container--header--left-leafs img {
  height: 30px;
}
.game__container--header-logo {
  position: absolute;
  text-align: center;
  top: -105px;
}
.game__container--header-logo img {
  height: 200px;
}
.game__container--header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.game__container--header--right-score {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}
.game__container--header--right-lives img {
  height: 30px;
}
.game__container--header-right-lives {
  /* display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end; */
}
#game-canvas {
  -webkit-box-shadow: 28px -120px 67px 26px rgba(68, 66, 66, 0.66);
  border: 1px solid #000;
  height: auto;
  box-sizing: border-box;
  /* opacity: 0.98; */
}

.greyscaled {
  filter: grayscale(100%);
}

.building {
  display: none;
  position: absolute;
  top: 140px;
}

.building img {
  height: 120px;
}
